@mixin transition-speed($speed) {
  transition        : $speed;
  -webkit-transition: $speed;
}
@mixin transition-speed-opacity() {
  transition        : opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
@mixin clearfix() {
  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
