$top-bar-height              : 54px; //$primary-color: rgb(71, 119, 142);
$top-bar-height-public       : 70px; //$primary-color: rgb(71, 119, 142);
$primary-color               : #276c7e; //$primary-color: rgb(60, 115, 142);
$top-bar-color: $primary-color;
$side-menu-color: $primary-color;
$secondary-color             : rgb(245, 95, 95);
$danger-color                : rgb(207, 112, 112);
$gutter                      : 15px;
$dark-grey-color             : #555;
$dark-grey-color-darker      : #444;
$dark-grey-color-lighter     : #666;
$grey-color                  : #888;
$light-grey-color            : #eee;
$text-shadow                 : 0 1px 1px rgba(0,0,0,0.15);
$xl                          : 1200px;
$lg                          : 992px;
$md                          : 768px;
$sm                          : 544px;
$xs                          : 544px;
// side menu
$side-menu-width             : 275px;
// section
$section-bottom-margin       : 15px;
// form
$common-border-radius        : 3px;
$form-group-border-color     : #ccc;
// index
$banner-index                : 100;
$side-menu-index             : $banner-index + 10;
$modal-index                 : $banner-index - 10;
$toast-index                 : 1100;
$ajax-loading-indicator-index: $toast-index + 10;

$flatpickr-index             : $modal-index + 10;
