.intro {
  position: relative;

  .intro-text {
    text-align : center;
    width      : 100%;
    color      : #fff;
  }

  .background {
    z-index: -1;

    .image {
      width           : 100%;
      height          : 65vh;
      background-color: $primary-color;
      @media (min-width: $lg) {
        .intro-text h1 {
          font-size: 2.8rem;
        }
      }

      .darkover {
        top             : 0;
        position        : absolute;
        width           : 100%;
        height          : inherit;
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}
