body {
  main {
    @include clearfix();

    &.pub {
      margin-top: ($top-bar-height);
      @media screen and (min-width: $sm) {
        margin-top: ($top-bar-height-public);
      }
      width     : 100%;
    }
  }
}

.container {
  min-height      : calc(100vh - #{$top-bar-height});
  padding-top     : 10px;
  background-color: transparent;
  overflow-x: hidden;
}

.flatpickr-calendar.open{
  z-index: $flatpickr-index;
  @media screen and (max-width: $sm - 1px) {
    left: 3px !important;
    z-index: $flatpickr-index + $side-menu-index;
  }
}
.link-nav {
  .item:not(.btn){
    margin-bottom: 0;
    color        : #999;
    margin-right : 20px;
    &:hover, &.active{
      color: #555;
    }
  }
}
