<%= form_for @changeset, @action, [class: "wm-form", id: "change-email-form"], fn f -> %>
  <input type="hidden" name="_method" value="put" />

  <div class="form-group tight">
    <%= label f, :email, "New email address", class: "wm-label" %>
    <%= text_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= Walkmenu.SharedView.submit_button("Change") %>
  </div>
<% end %>
