<div class="page-content-container">
  <h3>Reset password for <b><%= @email %></b></h3>
  <%= form_for @changeset, account_account_path(@conn, :reset_psw_by_token_post, @token), [class: "wm-form"], fn f -> %>
  <input type="password" style="display:none">

    <div class="form-group tight">
      <%= label f, :password, "New Password", class: "wm-label" %>
      <%= password_input f, :password, class: "form-control" %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-group tight">
      <%= label f, :password_confirmation, "Confirm new password", class: "wm-label" %>
      <%= password_input f, :password_confirmation, class: "form-control" %>
      <%= error_tag f, :password_confirmation %>
    </div>

    <div class="form-group">
      <%= Walkmenu.SharedView.submit_button() %>
    </div>
  <% end %>
</div>
