<div class="row account-nav link-nav">
  <div class="col-12 m-0">
    <div class="items-wrapper">
      <a class="item" href="<%= account_account_path @conn, :profile %>">Profile</a>
      <a class="item" href="<%= account_account_path @conn, :change_password %>">Password</a>
      <a class="item" href="<%= account_account_path @conn, :settings %>">Settings</a>
      <a class="item" href="<%= account_account_path @conn, :credit_card %>">Credit Card</a>
    </div>
  </div>
</div>
