i.fa,
i.icon {
  cursor    : pointer;
  min-width : 1rem;
  text-align: left;
}

.wm-text {
  &.wm-underline {
    text-decoration: underline;
  }

  &.wm-white {
    color: #fff;
  }

  &.wm-light-grey {
    color: $light-grey-color;
  }

  &.wm-dark-grey {
    color: $dark-grey-color;
  }

  &.wm-grey {
    color: $grey-color;
  }

  &.wm-light {
    color: #888;
  }

  &.wm-danger {
    color: rgb(199, 86, 86);
  }

  &.wm-info {
    color: rgb(86, 189, 199);
  }

  &.wm-warn {
    color: #d58968;
  }

  &.wm-success {
    color: rgb(91, 207, 1);
  }

  &.wm-primary {
    color: $primary-color;
  }
}
